.versions {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}


.botVersion {
  padding: 15px;
  font-size: 1.2rem;
}
.botVersion a {
  padding: 15px;
}
.botVersion a:hover {
  text-decoration: none;
}